<h1>Welcome to Rwitter</h1>

<form action='/sign_up' method='post'>

  <h1>Sign up</h1>

  Fullname: <input type="text"  id="name" name="fullname">
  Username: <input type="text"  id="name" name="username">
  Email: <input type="email" id="mail" name="mail">
  Password: <input type="password"  id="password" name="password">
  Password Confirmation:  <input type="password"  id="password_confirmation" name="password_confirmation">

  <button  type="submit">Sign up</button>

</form>
