<!doctype html>
<html>

  <head>
    <title>Welcome to Rwitter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  </head>

<body>

  <%= yield %>

</body>

</html>
