<h1>Welcome to Rwitter</h1>

<% if flash[:errors] && !flash[:errors].empty? %>

Sorry, there were the following problems with the form.

<ul id="errors">

  <% flash[:errors].each do |error| %>

  <li><%= error %></li>

  <% end %>

</ul>
<% end %>

<div style="float: left;">

  <form action='/sign_up' method='post'>

    <h1>Sign up</h1>

    Fullname: <input type="text"  id="fullname" name="fullname">
    Username: <input type="text"  id="username" name="username">
    Email: <input type="email" id="email" name="email">
    Password: <input type="password"  id="password" name="password">
    Password Confirmation:  <input type="password"  id="password_confirmation" name="password_confirmation">

    <button  type="submit" name="Sign in">Sign in</button>

  </form>

</div>

<div style="float: right;">


  <form action='/sessions' method='post'>

    <h1>Sign in</h1>

    Username: <input type="text"  id="name" name="username_sign_in">
    Password: <input type="password" id="mail" name="password_sign_in">

    <button  type="submit" name="Sign_in">Please enter</button>

  </form>
</div>
